name: Test

on: [push, pull_request]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install Prerequisites
      run: sudo apt install libsqlite3-dev

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: "3.0"
        bundler-cache: true

    - name: Lint
      run: bundle exec rake rubocop

  rails:
    name: Test Ruby ${{ matrix.ruby }} on ActiveModel ${{ matrix.activemodel }}
    strategy:
      matrix:
        ruby: ["3.0"]
        activemodel: ["7.0", "6.1", "6.0"]
        include:
          - activemodel: "5.2"
            ruby: "2.7"
          - activemodel: "5.1"
            ruby: "2.7"
          - activemodel: "5.0"
            ruby: "2.7"

    runs-on: ubuntu-latest
    env:
      BUNDLE_GEMFILE: gemfiles/activemodel-${{ matrix.activemodel }}.gemfile

    steps:
    - uses: actions/checkout@v2

    - name: Install Prerequisites
      run: sudo apt install libsqlite3-dev

    - name: Set up Ruby ${{ matrix.ruby }}
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler: "2.2.22"
        bundler-cache: true

    - name: Test
      run: bundle exec rake spec

  ruby:
    name: Test Ruby ${{ matrix.ruby }} on ActiveModel ${{ matrix.activemodel }}
    strategy:
      matrix:
        ruby: ["2.7", "2.6", "2.5"]
        activemodel: ["5.2"]

    runs-on: ubuntu-latest
    env:
      BUNDLE_GEMFILE: gemfiles/activemodel-${{ matrix.activemodel }}.gemfile

    steps:
    - uses: actions/checkout@v2

    - name: Install Prerequisites
      run: sudo apt install libsqlite3-dev

    - name: Set up Ruby ${{ matrix.ruby }}
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler: "2.2.22"
        bundler-cache: true

    - name: Test
      run: bundle exec rake spec
