name: Test

on: [push, pull_request]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: "3.1"
        bundler-cache: true

    - name: Lint
      run: bundle exec rake rubocop

  test:
    name: Test Ruby ${{ matrix.ruby }} on ActiveModel ${{ matrix.activemodel }}
    strategy:
      matrix:
        ruby: ["3.1"]
        activemodel: ["7.0"]
        include:
          - activemodel: "6.1"
            ruby: "3.0"
          - activemodel: "6.0"
            ruby: "3.0"
          - activemodel: "5.2"
            ruby: "2.7"

    runs-on: ubuntu-latest
    env:
      BUNDLE_GEMFILE: gemfiles/rails-${{ matrix.activemodel }}.gemfile

    steps:
    - uses: actions/checkout@v2

    - name: Install Prerequisites
      run: sudo apt install libsqlite3-dev

    - name: Set up Ruby ${{ matrix.ruby }}
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler: "2.3.5"
        bundler-cache: true

    - name: Test
      run: bundle exec rake spec
